* {
  margin: 0;
  padding: 0;
}

#header {
  width: 100vw;
  position: fixed;
  background-color: brown;
  height: 56px;
}

#header i {
  margin-top: 1em;
  margin-left: 1em;
  color: white;
}

#side-menu{
  position: fixed;
  left: -90vw;
  z-index: 10000;
  width: 90vw;
  height: 100vh;
  background-color: beige;
}

.side-menu-hidden{
  transition: all 1s ease-in-out;
  transform: translateX(-90vw);
}

.side-menu-visible{
  transition: all 1s ease-in-out;
  transform: translateX(90vw);
}

#side-menu i {
  margin-top: 1em;
  margin-left: 1em;
}

